version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      day: 'monday'
      interval: 'monthly'
      time: '09:00'
      timezone: 'Australia/Melbourne'
    groups:
      all-actions:
        patterns:
          - '*'
        update-types:
          - minor
          - patch

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      day: 'monday'
      interval: 'monthly'
      time: '09:00'
      timezone: 'Australia/Melbourne'
    pull-request-branch-name:
      separator: '-'
    open-pull-requests-limit: 10
    target-branch: main
    groups:
      # Group all minor and patch updates into a single PR
      all-minor-patch:
        patterns:
          - '*'
        update-types:
          - minor
          - patch
    # Removed outdated ignores - husky and @types/node are now current
    commit-message:
      prefix: chore
      include: scope
